/bin/custom/yuwell/yuwellbackoffice/gensrc/
/bin/custom/yuwell/yuwellbackoffice/backoffice/classes
/bin/custom/yuwell/yuwellbackoffice/resources/backoffice/
/bin/custom/yuwell/yuwellcore/gensrc/
/bin/custom/yuwell/yuwellfacades/gensrc/com/zdds/facades/constants/
/bin/custom/yuwell/yuwellfulfilmentprocess/gensrc/

/.idea

**/gensrc/**
**/classes/**
**/eclipsebin/**
*testclasses.xml
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar
**/jalo/**
**/theme-alpha/css/style.css
**/theme-lambda/css/style.css

**/platformhome.properties
**/build.xml
**/extensioninfo.xsd
**/beans.xsd
**/items.xsd
**/wro_addons.xml

**/testclasses/**

**/.project
**/.springBeans
**/.classpath
**/.xml

local.properties
